.status-NEW{
    color: rgb(217, 252, 223);
    padding: 7px;
}

.status-PART_PAID{
    color: rgb(250, 231, 170);
    padding: 7px;
}
.status-PAID{
    color: rgb(253, 217, 253);
    padding: 7px;
}
.status-WAITING{
    color: rgb(219, 218, 253);
    padding: 7px;
}
.status-RENTAL_IN_PROGRESS{
    color: rgb(236, 238, 237);
    padding: 7px;
}
.status-COMPLETED{
    color: rgb(1, 255, 128);
    padding: 7px;
}
.status-CANCELED{
    color: rgb(177, 176, 176);
    padding: 7px;
}