<!-- <h1> Zamówienie o id: {{rentId}}</h1> -->

<div>
    <h2> Auto </h2>
    {{rent.car}}
</div>
<div>
    <h2>Sposób płatności</h2>
    {{rent.payment}}
</div>
<div>
    <h2>Wypoyczający</h2>
    <a [routerLink]="['/admin/users/', rent.username]">{{rent.username}}</a>
</div>
<div>
    <h2>Status</h2>
    <form [formGroup]="statusForm">
        <mat-form-field appearance="fill">
            <mat-label>Favorite food</mat-label>
            <mat-select>
              <mat-option *ngFor="let status of statuses" [value]="ststus.value">
                {{status}}
              </mat-option>
            </mat-select>
          </mat-form-field>
    </form>
</div>
<div>
    <h2>Data wynajmu</h2>
    {{rent.rentalDate | date:"dd-MM-yyyy HH:mm"}}
</div>
<div>
    <h2>Miejsce wynajmu</h2>
    {{rent.rentalPlace}}
</div>
<div>
    <h2>Data oddania</h2>
    {{rent.returnDate | date:"dd-MM-yyyy HH:mm"}}
</div>
<div>
    <h2>Miejsce oddania</h2>
    {{rent.returnPlace}}
</div>
<div>
    <h2>Wartość</h2>
    {{rent.grossValue}}
</div>

