<h1> Dodawanie Auta</h1>
<form fxLayout="column" [formGroup]="carForm">
  <div [formGroup]="carForm" fxLayout="column">
    <mat-form-field appearance="fill">
      <mat-label>Marka</mat-label>
      <input matInput placeholder="Podaj marke auta" formControlName="brand">
      <div *ngIf="brand?.invalid && (brand?.dirty || brand?.touched)">
        <div *ngIf="brand?.errors?.['required']" class="errorMessage">
          Nazwa jest wymagana
        </div>
      </div>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Model</mat-label>
      <input matInput placeholder="Podaj model auta" formControlName="model">
      <div *ngIf="model?.invalid && (model?.dirty || model?.touched)">
        <div *ngIf="model?.errors?.['required']" class="errorMessage">
          Model jest wymagana
        </div>
      </div>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Rok</mat-label>
      <input matInput placeholder="Podaj rok auta" formControlName="year">
      <div *ngIf="year?.invalid && (year?.dirty || year?.touched)">
        <div *ngIf="year?.errors?.['required']" class="errorMessage">
          Rok jest wymagana
        </div>
        <div *ngIf="year?.errors?.['min']" class="errorMessage">
          Rok musi być większy od 0
        </div>
      </div>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Typ nadwozia</mat-label>
      <mat-select formControlName="bodyType">
        <mat-option *ngFor="let el of types" [value]="el">
          {{el}}
        </mat-option>
      </mat-select>
      <div *ngIf="type?.invalid && (type?.dirty || type?.touched)">
        <div *ngIf="type?.errors?.['required']" class="errorMessage">
          Typ nadwozia jest wymagany
        </div>
      </div>
    </mat-form-field>
    // specyfikacja techniczna
    <div formGroupName="carTechnicalSpecification" fxLayout="column">
      <mat-form-field>
        <mat-label>Moc</mat-label>
        <input matInput placeholder="Podaj moc auta" formControlName="power">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Silnik</mat-label>
        <input matInput placeholder="Podaj silnik auta" formControlName="engine">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Napęd</mat-label>
        <input matInput placeholder="Podaj napęd auta" formControlName="drive">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Przyśpieszenie w sekundach</mat-label>
        <input matInput placeholder="Podaj przyśpieszenie auta" formControlName="acceleration">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Skrzynia biegów</mat-label>
        <input matInput placeholder="Podaj skrzynie biegów" formControlName="gearbox">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Paliwo</mat-label>
        <input matInput placeholder="Podaj paliwo auta" formControlName="fuel">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Ilość miejsc</mat-label>
        <input matInput placeholder="Podaj ilość miejsc w aucie" formControlName="seats">
      </mat-form-field>
    </div>
    // wyposażenie

    <div formArrayName="equipments">
      <div *ngFor="let item of equipments.controls; index as i" class="equipment-area">
        <div fxLayout="row" fxLayoutAlign="center center">
          <input class="equipment-input" matInput placeholder="Podaj nazwę wyposażenia" [formControlName]="i">
          <button mat-stroked-button color="accent" (click)="deleteEquipment(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <button mat-stroked-button color="accent" (click)="addEquipment()">
      <mat-icon>add</mat-icon>
    </button>


    // opis
    <h2> Opis </h2>
    <div formArrayName="descriptions">
      <div *ngFor="let item of descriptions.controls; index as i" class="description-area">
        <div fxLayout="row" fxLayoutAlign="center center">
          <textarea class="description-input" placeholder="Podaj opis..." [formControlName]="i"></textarea>
          <button mat-stroked-button color="accent" (click)="deleteDescription(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <button mat-stroked-button color="accent" (click)="addDescription()">
      <mat-icon>add</mat-icon>
    </button>

    // cena
    <div formGroupName="carPrice" fxLayout="column">
      <h2> Ceny </h2>
      <mat-form-field appearance="fill">
        <mat-label>Cena przy wynajmie na dzień</mat-label>
        <input matInput placeholder="Podaj cenę przy wynajmie na dzień" formControlName="priceDay">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Cena przy wynajmie na 3 - 7 dni</mat-label>
        <input matInput placeholder="Podaj cenę przy wynajmie na pół tygonia" formControlName="priceHalfWeek">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Cena przy wynajmie na tydzień</mat-label>
        <input matInput placeholder="Podaj cene przy wynajmie na tydzień" formControlName="priceWeek">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Cena przy wynajmie na dwa tygodnie</mat-label>
        <input matInput placeholder="Podaj cene przy wynajmie na dwa tygodnie" formControlName="priceTwoWeeks">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Cena przy wynajmie na miesiąc</mat-label>
        <input matInput placeholder="Podaj cene przy wynajmie na miesiąc" formControlName="priceMonth">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Kaucja</mat-label>
        <input matInput placeholder="Podaj kaucje" formControlName="deposit">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Dzienny limit kilometrów</mat-label>
        <input matInput placeholder="Podaj dzienny limit kilometów" formControlName="distanceLimit">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Cena za dodatkowy kilomet</mat-label>
        <input matInput placeholder="Podaj cene za dodatkowy kilomet" formControlName="distanceLimitPenalty">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Cena za kilometr transportu</mat-label>
        <input matInput placeholder="Podaj cene za kilometr transportu" formControlName="transportPricePerKm">
      </mat-form-field>
    </div>
    //kategoria
    <div formGroupName="category">
      <mat-form-field appearance="fill">
        <mat-label>Kategoria</mat-label>
        <mat-select formControlName="name">
          <mat-option *ngFor="let cat of categories" [value]="cat.name">
            {{cat.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div fxLayoutAlign="end">
      <button mat-flat-button color="primary" [disabled]="!carForm.valid" (click)="submit()"> Zapisz </button>
    </div>
  </div>
</form>
<img *ngIf="image" src="{{'/api/data/productImage/' + image}}" width="200">
<form [formGroup]="imageForm" (submit)="uploadFile()">
  <input type="file" [accept]="requiredFileTypes" (change)="onFileChange($event)">
  <button mat-flat-button color="basic"> Upload </button>
</form>
