<div *ngIf="!rentSummary">
    <mat-tab-group animationDuration="0ms" (selectedIndexChange)="choseMenuOption($event)">
        <mat-tab label="Wybór auta" >
            <div *ngIf="!chosenCar" class="choose-car">
                <div class="date-location">
                    <form class="date-place-form" fxLayout="column" [formGroup]="placeDateForm">
                        <div fxLayout="row" fxLayoutGap="50px">
                            <div>
                                <label for="rentalDate">Data wynajmu</label>
                                <input type="datetime-local" formControlName="rentalDate" id="rentalDate" value="{{today}}" (change)="searchCar()"><br>
                                <label for="rentalPlace">Miejsce wynajmu</label>
                                <input formControlName="rentalPlace" id="rentalPlace" (change)="searchCar()">
                            </div>
                            <mat-icon>arrow_right_alt</mat-icon>
                            <div>
                                <label for="returnDate">Data oddania</label>
                                <input type="datetime-local" formControlName="returnDate" id="returnDate" (change)="searchCar()"><br>
                                <label for="returnPlace">Miejsce oddania</label>
                                <input formControlName="returnPlace" id="returnPlace" onchange="searchCar()">
                            </div>
                        </div>
                        <div class="only-available-checbox" fxLayout="row">
                            <label for="onlyAvailable"> Tylko dostępne</label>
                            <input type="checkbox" formControlName="onlyAvailable" id="onlyAvailable" (change)="searchCar()">
                        </div>
                        <div class="sorting" fxLayout="row">
                            <label for="sortingType"> Sortowanie:</label>
                            <select formControlName="sortingType" id="sortingType" (change)="searchCar()">
                                <option *ngFor="let type of initData?.sortingTypes" value="{{type}}" >{{type}}</option>
                            </select>
                        </div>
                        <button (click)="searchCar()"> Szukaj </button>
                        <div class="error" *ngIf="searchError">{{searchError}}</div>
                    </form>
                </div>
                <div class="rent-cars-list">
                    <mat-card class="car-card" *ngFor="let car of cars" fxLayout="row" >
                        <div class="left-part-car-card" fxLayout="column" fxFlex="80">
                            <div class="car-main-card" fxlayout="row" fxFlex="85">
                                <div class="car-image" fxFlex="30">
                                    <img *ngIf="!car.photo" src="/assets/image-placeholder.png" width="700" mat-card-xl-image>
                                    <img *ngIf="car.photo" src="{{'/api/data/carPhotos/' + car.photo}}" width="500" mat-card-xl-image>
                                </div>
                                <div class="car-info" fxLayout="column" fxFlex="70">
                                    <div class="car-name">
                                        <h2> {{car.brand}} {{car.model}} ({{car.year}}) </h2>
                                    </div>
                                    <div class="car-specification">
                                        <table class="car-table">
                                            <tr>
                                                <td> Moc </td>
                                                <td>{{car.carTechnicalSpecification.power}} KM</td>
                                            </tr>
                                            <tr>
                                                <td>0 - 100 km/h</td>
                                                <td>{{car.carTechnicalSpecification.acceleration}}</td>
                                            </tr>
                                            <tr>
                                                <td>Skrzynia </td>
                                                <td>{{car.carTechnicalSpecification.gearbox}}</td>
                                            </tr>
                                            <tr>
                                                <td>Napęd</td>
                                                <td>{{car.carTechnicalSpecification.drive}}</td>
                                            </tr>
                                            <tr>
                                                <td>Silnik</td>
                                                <td>{{car.carTechnicalSpecification.engine}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="car-limits" fxFlex="15">
                                Limit kilometrów: {{car.distanceLimit}} / doba <br>
                                Kara za dodatkowy kilometr {{car.distanceLimitPenalty}} zł
                            </div>
                        </div>
                        <div class="right-part-car-card" fxFlex="20">
                            <div class="car-price">
                                <p *ngIf="car.days === 1"> Cena za {{car.days}} dzień</p>
                                <p *ngIf="car.days > 1"> Cena za {{car.days}} dni</p>
                                <h1 class="car-value">{{car.grossValue}}PLN</h1>
                                <h3>netto</h3>
                                <button mat-raised-button *ngIf="car.available && !searchError" color="accent" (click)="goNext(car)"> Zarezewuj </button>
                                <button mat-raised-button *ngIf="!car.available" disabled color="accent"> Zarezerowany </button>
                                <button mat-raised-button *ngIf="searchError" disabled color="accent"> Niedostępny </button>
                            </div>
                        </div>
                      </mat-card>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Autoryzacja" *ngIf="!chosenCar" disabled></mat-tab>
        <mat-tab label="Autoryzacja" *ngIf="chosenCar" (selectedIndexChange)="choseMenuOption($event)">
            <div class="authorization" fxLayout="row">
                <div class="login" fxFlex="50">
                    <h1> Mam konto</h1>
                    <form [formGroup]="loginForm" fxLayout="column">
                        <mat-form-field>
                            <mat-label>Email</mat-label>
                            <input matInput formControlName="username">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Haslo</mat-label>
                            <input type="password" matInput formControlName="password">
                        </mat-form-field>
                        <button mat-raised-button (click)="login()"> Zaloguj </button>
                        <div *ngIf="loginError" class="error">Podaj poprawne dane logowania</div>
                    </form>
                </div>
                <div class="register" fxFlex="50">
                    <h1> Nie mam konta</h1>
                    <form [formGroup]="registerForm" fxLayout="column">
                        <mat-form-field>
                            <mat-label>Imię</mat-label>
                            <input matInput formControlName="firstName">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Nazwisko</mat-label>
                            <input matInput formControlName="secondName">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Numer telefonu</mat-label>
                            <input matInput formControlName="phone">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Email</mat-label>
                            <input matInput formControlName="username">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Haslo</mat-label>
                            <input type="password" matInput formControlName="password">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Powtórz haslo</mat-label>
                            <input type="password" matInput formControlName="repeatPassword">
                        </mat-form-field>
                        <button mat-raised-button (click)="register()"> Zarejestruj </button>
                        <div *ngIf="registerError" class="error">{{registerErrorMessage}}</div>
                    </form>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Wybór płatności" *ngIf="!chosenCar || !userLogged" disabled></mat-tab>
        <mat-tab label="Wybór płatności" *ngIf="chosenCar && userLogged" (selectedIndexChange)="choseMenuOption($event)">
            <h1> Wybierz forme płatności</h1>
            <form [formGroup]="paymantForm">
                <mat-radio-group aria-label="Select an option" formControlName="payment" fxLayout="column">
                    <div *ngFor="let payment of initData.paymentTypes">
                        <mat-radio-button  value="{{payment.id}}">{{payment.name}}</mat-radio-button>
                        <p>{{payment.description}}</p>
                    </div>
                </mat-radio-group>
                <button type="submit" (click)="chosePaymant()">Przejdź do podsumowania</button>
            </form>
        </mat-tab>
        <mat-tab label="Podsumowanie" *ngIf="!chosenCar || !userLogged || !chosenPaymentId" disabled></mat-tab>
        <mat-tab label="Podsumowanie" *ngIf="chosenCar && userLogged && chosenPaymentId" fxFlexAlign="center center">
            <h1> Podsumowanie </h1>
            <h2> Wybrane auto</h2>
            <div class="info-block" fxLayout="row">
                <div class="summary-car-photo">
                    <img *ngIf="!chosenCar.photo" src="/assets/image-placeholder.png" width="700" mat-card-xl-image>
                    <img *ngIf="chosenCar.photo" src="{{'/api/data/carPhotos/' + chosenCar.photo}}" width="500" mat-card-xl-image>
                </div>
                <div fxLayout="column">
                    <div class="summaryCarInfo" fxFlex="10">
                        {{chosenCar.brand}} {{chosenCar.model}} {{chosenCar.year}}
                    </div>
                    <div class="car-specification" fxFlex="90">
                        <table class="car-table">
                            <tr>
                                <td> Moc </td>
                                <td>{{chosenCar.carTechnicalSpecification.power}} KM </td>
                            </tr>
                            <tr>
                                <td> 0 - 100 km/h </td>
                                <td>{{chosenCar.carTechnicalSpecification.acceleration}}</td>
                            </tr>
                            <tr>
                                <td> Skrzynia </td>
                                <td>{{chosenCar.carTechnicalSpecification.gearbox}}</td>
                            </tr>
                            <tr>
                                <td>Napęd</td>
                                <td>{{chosenCar.carTechnicalSpecification.drive}}</td>
                            </tr>
                            <tr>
                                <td>Silnik</td>
                                <td>{{chosenCar.carTechnicalSpecification.engine}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <h2> Okres najmu </h2>
                <div class="info-block">
                    <p>Ilość dni: {{chosenCar.days}}</p>
                    <p>od: {{chosenCar.rentalDate | date:'dd-MM-yyyy hh:mm'}} </p>
                    <p>do: {{chosenCar.returnDate | date:'dd-MM-yyyy hh:mm'}}</p>
                </div>
            <h2>Koszta</h2>
            <div class="info-block">
                <p>Depozyt: {{chosenCar.deposit}} PLN</p>
                <p>Cena dostarczenia do {{chosenCar.rentalPlace}}: {{chosenCar.rentalPrice | number:'1.2-2'}}zł</p>
                <p>Cena odbioru z {{chosenCar.returnPlace}}: {{chosenCar.returnPrice | number:'1.2-2'}}zł</p>
                <p>Cena auta: {{chosenCar.grossValue}}zł</p>
                <p>Cena ostateczna: {{chosenCar.finalPrice | number:'1.2-2'}}zł </p>
                <p>Sposób płatności: {{initData.paymentTypes.at(chosenPaymentId)?.name}}</p>
            </div>
            <h2> Limity najmu</h2>
            <div class="info-block">
                <p>Limit kilometrów {{chosenCar.distanceLimit}} km/dzień</p>
                <p>Cena za dodatkowy kilometr {{chosenCar.distanceLimitPenalty}} zł/km</p>
            </div>
            <button mat-raised-button *ngIf="chosenPaymentId === 2"> Przejdź na przelewy24</button>
            <button  mat-raised-button *ngIf="chosenPaymentId !== 2" (click)="reserve()"> Rezerwuje</button>
        </mat-tab>
        
      </mat-tab-group>
</div>
<div *ngIf="rentSummary">
    Podsumowanie
</div>


