<header fxLayout="row" fxLayoutAlign="center center">
  <div class="logo" fxFlex>
    RentCars
  </div>
  <div fxLayoutGap="15">
    <button mat-flat-button routerLink="/Auta-Do-Wynajmu"> Samochody</button>
    <button mat-flat-button color="warn" routerLink="/panel-rezerwacyjny"> Wynajmij</button>
    <button mat-button routerLink="/logowanie" *ngIf="!isLoggedIn"> Zaloguj</button>
    <button mat-button routerLink="/profil" *ngIf="isLoggedIn"> Profil</button>
    <button mat-button *ngIf="isLoggedIn" (click)="logout()"> Wyloguj</button>
  </div>
</header>
<div class="main">
  <div class="content" >
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<footer>
  stopka
</footer>
