.delete-car-button {
    margin-left: -70px;
    margin-top: -40px;
}

.car-photo-div {
    padding: 10px;
}

.text-area {
    width: 700px;
}

.delete-button {
margin-top: -50px;
}

.add-button {
    width: 770px;
}